:root{
    --cor-fundo:#A020F0;
    --cor-principal: #1C1C1C;
    --cor-secundaria: #6A5ACD;
    --cor-texto:#000000;
    --cor-destaque: #A9A9A9:
}

body{
    background-color: var(--cor-fundo);
}
